h1 Pacman @Neekey
p It's now in developing!
div 
    h3 Finished:
    ul 
        li Random map
        li Random walking of monsters
    h3 TODO:
    ul 
        li Pacman lives and eaten beans counter
        li Two players game online to see who get all the beans first 
p Any idea just contact me: 
    a( href='mailto:ni184775761@gmail.com' ) ni184775761@gmail.com
p github :
    a( href='https://github.com/neekey/pacman' ) https://github.com/neekey/pacman